
<div class="text-center">
    <h1>Mi nombre es Luis Montaño</h1>
    <p>tengo 24 años de edad y soy desarrollador fullstack especializado en tecnologías .Net y React</p>
    <img id="profilePhoto"
         src="~/images/avatarImage.png" alt="My photo" />
</div>

<div class="text-center">
    <img id="dotnet-image" src="~/images/dotnet-imagen-2.png" alt="dotnet-image">
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 welcome-section">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software profesionalmente desde Octubre 2022, como formación académica soy graduado de Ingeniería
            en software de la Universidad de Colima.
            Trabajo con tecnologías de desarrollo web como .Net y React, siempre ponienfo énfasis en crear código limpio y con las mejores prácticas
            para poder crear productos eficaces y escalables.
            Mi stack tecnológico se compone de ASP.NET MVC, Entity Framework, React, JavaScript, TypeScript, C#, entre otros.
        </p>
    </div>
</div>