<div style="margin-top: -105px">
    <div class="row justify-content-center text-center">
        <div class="col col-4 bg-white skills" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi-hdd-fill"></i>
            <h1>Backend</h1>

            <p>
                Trabajo entrega continua ASP.NET Core Web API's para comunicar bases de datos con frontend
            </p>

            <p class="text-primary header-text">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary header-text">
                Experiencia:
            </p>

            <ul>
                <li>ASP.NET Core MVC</li>
                <li>Web API's</li>
                <li>Entity framework</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
        <div class="col col-4 bg-white skills" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi-code-slash"></i>
            <h1>Frontend</h1>

            <p>
                Capaz de crear frontend robusto que cumpla con las necesidades del cliente
            </p>

            <p class="text-primary header-text">
                Stack:
            </p>


            <p>
                React, Blazor, Angular
            </p>

            <p class="text-primary header-text">
                Experiencia:
            </p>

            <ul>
                <li>React hooks</li>
                <li>Jest</li>
                <li>Styled-components</li>
                <li>JavaScript</li
                <li>TypeScript</li>

            </ul>
        </div>
    </div>
</div>